@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 100%, 74%);
  color:#fff;
  font-family: 'Poppins', sans-serif;
}
main{
  height: 100vh;
  max-width: 100%;
  background-image: url('bg-intro-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 1rem;
  padding: 3rem 2.5rem 3rem 3rem;
}

.about{
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin: 0 ;
}
.about .title{
  font-size: 2.8rem;
  font-weight: 700;
  margin: 1.5rem 1.5rem 1.5rem 0;
}
.about p{
  margin: 0.2rem 1.5rem 0 0;
}

.form_container{
  padding: 1.7rem;
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100%;
  height: auto;
  
}
#title{
  width: 100%;
  background-color: hsl(248, 32%, 49%);
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  box-shadow: 
      inset 0 -3em 3em
  rgba(0,0,0,0.1), 0.3em 0.3em 1em
  rgba(0,0,0,0.3);
}
#title span {
  font-weight: 400;
}
form{
  background-color: #fff;
  padding: 1rem;
  padding-right: 1.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  /*border: 2px solid black;*/
  box-shadow: 
      inset 0 -3em 3em
  rgba(0,0,0,0.1), 0.3em 0.3em 1em
  rgba(0,0,0,0.3);
}

label{
  width: 100%;
}

input{
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  color: hsl(246, 25%, 77%);
  border-radius: 10px;
  font-weight: 600;
  border: 1px solid hsl(246, 25%, 77%);
}

input:active{
  border: 1px solid hsl(0, 100%, 74%) ;
  background-image: url('/icon-error.svg');
  background-repeat: no-repeat;
  background-position: right;

}


#submit{
  background-color:  hsl(154, 59%, 51%);
  color:#fff;
  border: none;
}
#submit:active{
  opacity: 0.7;
}
form p{
  color: hsl(246, 25%, 77%);
  font-size: 10px;
  width: 100%;
  font-weight: 400;
  text-align: center;
  align-items: center;
  margin-top: 10px;
}
form p span{
  color: hsl(0, 100%, 74%) ;
  font-weight: 500;
  
}

footer{
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  background-color: #fff;
  color:hsl(0, 100%, 74%);
}



@media only screen and (max-width:700px)and (min-width:375px){
  main{
      background-image: url('bg-intro-mobile.png');
      background-repeat: no-repeat;
      background-size: cont as in;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
  }
  .form_container{
    padding: 0;
    margin-top: 1.7rem;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width:1440px) and (min-width:710px){
  main{
      background-image: url('bg-intro-desktop.png');
      background-repeat: no-repeat;
      background-size: cover;
  }
}
